{
  "discoveryVersion": "v1",
  "servicePath": "",
  "documentationLink": "https://developers.generativeai.google/api",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "version": "v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "schemas": {
    "SafetySetting": {
      "type": "object",
      "description": "Safety setting, affecting the safety-blocking behavior. Passing a safety setting for a category changes the allowed probability that content is blocked.",
      "properties": {
        "category": {
          "description": "Required. The category for this setting.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "enumDescriptions": [
            "Category is unspecified.",
            "**PaLM** - Negative or harmful comments targeting identity and/or protected attribute.",
            "**PaLM** - Content that is rude, disrespectful, or profane.",
            "**PaLM** - Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "**PaLM** - Contains references to sexual acts or other lewd content.",
            "**PaLM** - Promotes unchecked medical advice.",
            "**PaLM** - Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "**Gemini** - Harassment content.",
            "**Gemini** - Hate speech and content.",
            "**Gemini** - Sexually explicit content.",
            "**Gemini** - Dangerous content.",
            "**Gemini** - Content that may be used to harm civic integrity. DEPRECATED: use enable_enhanced_civic_answers instead.",
            "**Gemini** - Prompts attempting to bypass or subvert the model's safety guidelines (jailbreak attempts)."
          ]
        },
        "threshold": {
          "enumDescriptions": [
            "Threshold is unspecified.",
            "Content with NEGLIGIBLE will be allowed.",
            "Content with NEGLIGIBLE and LOW will be allowed.",
            "Content with NEGLIGIBLE, LOW, and MEDIUM will be allowed.",
            "All content will be allowed.",
            "Turn off the safety filter."
          ],
          "description": "Required. Controls the probability threshold at which harm is blocked.",
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        }
      },
      "id": "SafetySetting"
    },
    "LogprobsResultCandidate": {
      "id": "LogprobsResultCandidate",
      "type": "object",
      "properties": {
        "token": {
          "description": "The candidate’s token string value.",
          "type": "string"
        },
        "logProbability": {
          "type": "number",
          "description": "The candidate's log probability.",
          "format": "float"
        },
        "tokenId": {
          "description": "The candidate’s token id value.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Candidate for the logprobs token and score."
    },
    "DiffDownloadResponse": {
      "properties": {
        "objectLocation": {
          "description": "The original object location.",
          "$ref": "CompositeMedia"
        }
      },
      "id": "DiffDownloadResponse",
      "description": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object"
    },
    "GenerateContentResponse": {
      "type": "object",
      "id": "GenerateContentResponse",
      "properties": {
        "responseId": {
          "readOnly": true,
          "description": "Output only. response_id is used to identify each response.",
          "type": "string"
        },
        "promptFeedback": {
          "description": "Returns the prompt's feedback related to the content filters.",
          "$ref": "PromptFeedback"
        },
        "modelVersion": {
          "readOnly": true,
          "description": "Output only. The model version used to generate the response.",
          "type": "string"
        },
        "modelStatus": {
          "description": "Output only. The current model status of this model.",
          "$ref": "ModelStatus",
          "readOnly": true
        },
        "usageMetadata": {
          "$ref": "UsageMetadata",
          "description": "Output only. Metadata on the generation requests' token usage.",
          "readOnly": true
        },
        "candidates": {
          "items": {
            "$ref": "Candidate"
          },
          "description": "Candidate responses from the model.",
          "type": "array"
        }
      },
      "description": "Response from the model supporting multiple candidate responses. Safety ratings and content filtering are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API: - Returns either all requested candidates or none of them - Returns no candidates at all only if there was something wrong with the prompt (check `prompt_feedback`) - Reports feedback on each candidate in `finish_reason` and `safety_ratings`."
    },
    "Part": {
      "type": "object",
      "id": "Part",
      "properties": {
        "functionResponse": {
          "description": "The result output of a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model.",
          "$ref": "FunctionResponse"
        },
        "thoughtSignature": {
          "type": "string",
          "format": "byte",
          "description": "Optional. An opaque signature for the thought so it can be reused in subsequent requests."
        },
        "speechMetadata": {
          "description": "Optional. Metadata applied to text parts to customize how they should be spoken or synthesized, such as specifying speaker identity or speaking style.",
          "$ref": "SpeechMetadata"
        },
        "videoMetadata": {
          "$ref": "VideoMetadata",
          "description": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data."
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Server-side tool call. This field is populated when the model predicts a tool invocation that should be executed on the server. The client is expected to echo this message back to the API."
        },
        "mediaResolution": {
          "$ref": "V1mainMediaResolution",
          "description": "Optional. Media resolution for the input media."
        },
        "executableCode": {
          "$ref": "ExecutableCode",
          "description": "Code generated by the model that is meant to be executed."
        },
        "partMetadata": {
          "description": "Custom metadata associated with the Part. Agents using genai.Part as content representation may need to keep track of the additional information. For example it can be name of a file/source from which the Part originates or a way to multiplex multiple Part streams.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "codeExecutionResult": {
          "description": "Result of executing the `ExecutableCode`.",
          "$ref": "CodeExecutionResult"
        },
        "audioTranscription": {
          "description": "Optional. Audio (input or output) transcription. This is only set when this Part contains audio data.",
          "$ref": "AudioTranscription"
        },
        "mediaProcessing": {
          "description": "Optional. How the model processes this part's media for understanding. Only meaningful for video parts (`inline_data` or `file_data` with video mime). Non-video parts ignore this field.",
          "enumDescriptions": [
            "Defaults to model-specific processing.",
            "Fixed-rate frame extraction. All frames placed in context.",
            "Model-driven dynamic navigation. Recommended for most use cases."
          ],
          "type": "string",
          "enum": [
            "MEDIA_PROCESSING_UNSPECIFIED",
            "STATIC",
            "AGENTIC"
          ]
        },
        "functionCall": {
          "$ref": "FunctionCall",
          "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values."
        },
        "fileData": {
          "description": "URI based data.",
          "$ref": "FileData"
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        },
        "toolResponse": {
          "description": "The output from a server-side `ToolCall` execution. This field is populated by the client with the results of executing the corresponding `ToolCall`.",
          "$ref": "ToolResponse"
        },
        "text": {
          "type": "string",
          "description": "Inline text."
        },
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "Blob"
        }
      },
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes."
    },
    "InputEmbedContentConfig": {
      "description": "Configures the input to the batch request.",
      "properties": {
        "fileName": {
          "description": "The name of the `File` containing the input requests.",
          "type": "string"
        },
        "requests": {
          "description": "The requests to be processed in the batch.",
          "$ref": "InlinedEmbedContentRequests"
        }
      },
      "type": "object",
      "id": "InputEmbedContentConfig"
    },
    "EmbedContentBatch": {
      "type": "object",
      "properties": {
        "priority": {
          "format": "int64",
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the batch was last updated.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the batch processing completed.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the batch.",
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ],
          "type": "string",
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ]
        },
        "inputConfig": {
          "description": "Required. Input configuration of the instances on which batch processing are performed.",
          "$ref": "InputEmbedContentConfig"
        },
        "output": {
          "$ref": "EmbedContentBatchOutput",
          "readOnly": true,
          "description": "Output only. The output of the batch request."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the batch was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "batchStats": {
          "description": "Output only. Stats about the batch.",
          "readOnly": true,
          "$ref": "EmbedContentBatchStats"
        },
        "model": {
          "type": "string",
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`."
        }
      },
      "id": "EmbedContentBatch",
      "description": "A resource representing a batch of `EmbedContent` requests."
    },
    "PredictResponse": {
      "description": "Response message for [PredictionService.Predict].",
      "id": "PredictResponse",
      "properties": {
        "predictions": {
          "items": {
            "type": "any"
          },
          "description": "The outputs of the prediction call.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ImageConfig": {
      "description": "Config for image generation features.",
      "properties": {
        "imageSize": {
          "type": "string",
          "description": "Optional. Specifies the size of generated images. Supported values are `512`, `1K`, `2K`, `4K`. If not specified, the model will use default value `1K`."
        },
        "aspectRatio": {
          "type": "string",
          "description": "Optional. The aspect ratio of the image to generate. Supported aspect ratios: `1:1`, `1:4`, `4:1`, `1:8`, `8:1`, `2:3`, `3:2`, `3:4`, `4:3`, `4:5`, `5:4`, `9:16`, `16:9`, or `21:9`. If not specified, the model will choose a default aspect ratio based on any reference images provided."
        }
      },
      "id": "ImageConfig",
      "type": "object"
    },
    "CountTokensRequest": {
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "properties": {
        "contents": {
          "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set.",
          "items": {
            "$ref": "Content"
          },
          "type": "array"
        },
        "generateContentRequest": {
          "$ref": "GenerateContentRequest",
          "description": "Optional. The overall input given to the `Model`. This includes the prompt as well as other model steering information like [system instructions](https://ai.google.dev/gemini-api/docs/system-instructions), and/or function declarations for [function calling](https://ai.google.dev/gemini-api/docs/function-calling). `Model`s/`Content`s and `generate_content_request`s are mutually exclusive. You can either send `Model` + `Content`s or a `generate_content_request`, but never both."
        }
      },
      "id": "CountTokensRequest",
      "type": "object"
    },
    "DiffUploadResponse": {
      "properties": {
        "objectVersion": {
          "description": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload.",
          "type": "string"
        },
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification."
        }
      },
      "id": "DiffUploadResponse",
      "description": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object"
    },
    "BatchEmbedContentsRequest": {
      "type": "object",
      "description": "Batch request to get embeddings from the model for a list of prompts.",
      "id": "BatchEmbedContentsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "EmbedContentRequest"
          },
          "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`."
        }
      }
    },
    "LanguageAuto": {
      "deprecated": true,
      "properties": {},
      "type": "object",
      "id": "LanguageAuto",
      "description": "Indicates the language of the audio should be automatically detected."
    },
    "AudioTranscription": {
      "id": "AudioTranscription",
      "description": "The transcription of an audio part. For multi-speaker audio, each speaker segment is a separate Part with its own AudioTranscription carrying the speaker_label.",
      "properties": {
        "words": {
          "type": "array",
          "description": "Optional. Detailed word-level transcriptions and timing details. Present when word_timestamp is set.",
          "items": {
            "$ref": "WordInfo"
          }
        },
        "speakerLabel": {
          "description": "Optional. A label identifying the speaker of this audio segment (e.g. \"spk_1\", \"spk_2\"). Present when diarization is set.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Required. The transcription text of this audio segment."
        }
      },
      "type": "object"
    },
    "SessionResumptionConfig": {
      "properties": {
        "handle": {
          "description": "The handle of a previous session. If not present then a new session is created. Session handles come from `SessionResumptionUpdate.token` values in previous connections.",
          "type": "string"
        }
      },
      "description": "Session resumption configuration. This message is included in the session configuration as `BidiGenerateContentSetup.session_resumption`. If configured, the server will send `SessionResumptionUpdate` messages.",
      "type": "object",
      "id": "SessionResumptionConfig"
    },
    "ListCachedContentsResponse": {
      "id": "ListCachedContentsResponse",
      "properties": {
        "cachedContents": {
          "items": {
            "$ref": "CachedContent"
          },
          "type": "array",
          "description": "List of cached contents."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response with CachedContents list."
    },
    "ModalityTokenCount": {
      "description": "Represents token counting info for a single modality.",
      "properties": {
        "modality": {
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ],
          "enumDescriptions": [
            "Unspecified modality.",
            "Plain text.",
            "Image.",
            "Video.",
            "Audio.",
            "Document, e.g. PDF."
          ],
          "description": "The modality associated with this token count."
        },
        "tokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of tokens."
        }
      },
      "id": "ModalityTokenCount",
      "type": "object"
    },
    "CountMessageTokensRequest": {
      "type": "object",
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "id": "CountMessageTokensRequest",
      "properties": {
        "prompt": {
          "description": "Required. The prompt, whose token count is to be returned.",
          "$ref": "MessagePrompt"
        }
      }
    },
    "DiffVersionResponse": {
      "type": "object",
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        },
        "objectSizeBytes": {
          "type": "string",
          "description": "The total size of the server object.",
          "format": "int64"
        }
      },
      "id": "DiffVersionResponse"
    },
    "DynamicRetrievalConfig": {
      "id": "DynamicRetrievalConfig",
      "properties": {
        "dynamicThreshold": {
          "type": "number",
          "format": "float",
          "description": "The threshold to be used in dynamic retrieval. If not set, a system default value is used."
        },
        "mode": {
          "enumDescriptions": [
            "Always trigger retrieval.",
            "Run retrieval only when system decides it is necessary."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "MODE_DYNAMIC"
          ],
          "description": "The mode of the predictor to be used in dynamic retrieval."
        }
      },
      "type": "object",
      "description": "Describes the options to customize dynamic retrieval."
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "checksumsLocation": {
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the server object."
        },
        "objectLocation": {
          "description": "If set, calculate the checksums based on the contents and return them to the caller.",
          "$ref": "CompositeMedia"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "description": "The chunk size of checksums. Must be a multiple of 256KB.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListTunedModelsResponse": {
      "id": "ListTunedModelsResponse",
      "description": "Response from `ListTunedModels` containing a paginated list of Models.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        },
        "tunedModels": {
          "type": "array",
          "items": {
            "$ref": "TunedModel"
          },
          "description": "The returned Models."
        }
      }
    },
    "LogprobsResult": {
      "type": "object",
      "properties": {
        "topCandidates": {
          "items": {
            "$ref": "TopCandidates"
          },
          "description": "Length = total number of decoding steps.",
          "type": "array"
        },
        "chosenCandidates": {
          "description": "Length = total number of decoding steps. The chosen candidates may or may not be in top_candidates.",
          "items": {
            "$ref": "LogprobsResultCandidate"
          },
          "type": "array"
        },
        "logProbabilitySum": {
          "description": "Sum of log probabilities for all tokens.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Logprobs Result",
      "id": "LogprobsResult"
    },
    "FileSearchStore": {
      "id": "FileSearchStore",
      "description": "A `FileSearchStore` is a collection of `Document`s.",
      "properties": {
        "failedDocumentsCount": {
          "description": "Output only. The number of documents in the `FileSearchStore` that have failed processing.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "pendingDocumentsCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of documents in the `FileSearchStore` that are being processed.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The Timestamp of when the `FileSearchStore` was created."
        },
        "activeDocumentsCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of documents in the `FileSearchStore` that are active and ready for retrieval.",
          "format": "int64"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. The `FileSearchStore` resource name. It is an ID (name excluding the \"fileSearchStores/\" prefix) that can contain up to 40 characters that are lowercase alphanumeric or dashes (-). It is output only. The unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/my-awesome-file-search-store-123a456b789c` If `display_name` is not provided, the name will be randomly generated.",
          "type": "string",
          "readOnly": true
        },
        "sizeBytes": {
          "readOnly": true,
          "description": "Output only. The size of raw bytes ingested into the `FileSearchStore`. This is the total size of all the documents in the `FileSearchStore`.",
          "format": "int64",
          "type": "string"
        },
        "embeddingModel": {
          "type": "string",
          "description": "Optional. The embedding model to use for the `FileSearchStore`. The model's resource name. This serves as an ID for the Model to use. Format: `models/{model}`. If not specified, the default embedding model will be used."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable display name for the `FileSearchStore`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\""
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The Timestamp of when the `FileSearchStore` was last updated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchTypes": {
      "properties": {
        "webSearch": {
          "$ref": "WebSearch",
          "description": "Optional. Enables web search. Only text results are returned."
        },
        "imageSearch": {
          "description": "Optional. Enables image search. Image bytes are returned.",
          "$ref": "ImageSearch"
        }
      },
      "id": "SearchTypes",
      "description": "Different types of search that can be enabled on the GoogleSearch tool.",
      "type": "object"
    },
    "InlinedResponse": {
      "id": "InlinedResponse",
      "description": "The response to a single request in the batch.",
      "type": "object",
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. The error encountered while processing the request.",
          "$ref": "Status"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. The metadata associated with the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "response": {
          "$ref": "GenerateContentResponse",
          "description": "Output only. The response to the request.",
          "readOnly": true
        }
      }
    },
    "InlinedEmbedContentResponses": {
      "id": "InlinedEmbedContentResponses",
      "type": "object",
      "description": "The responses to the requests in the batch.",
      "properties": {
        "inlinedResponses": {
          "description": "Output only. The responses to the requests in the batch.",
          "type": "array",
          "items": {
            "$ref": "InlinedEmbedContentResponse"
          },
          "readOnly": true
        }
      }
    },
    "SpeakerVoiceConfig": {
      "id": "SpeakerVoiceConfig",
      "type": "object",
      "description": "The configuration for a single speaker in a multi speaker setup.",
      "properties": {
        "speaker": {
          "type": "string",
          "description": "Required. The name of the speaker to use. Should be the same as in the prompt."
        },
        "voiceConfig": {
          "description": "Required. The configuration for the voice to use.",
          "$ref": "VoiceConfig"
        }
      }
    },
    "Tool": {
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. Next ID: 17",
      "type": "object",
      "id": "Tool",
      "properties": {
        "urlContext": {
          "$ref": "UrlContext",
          "description": "Optional. Tool to support URL context retrieval."
        },
        "functionDeclarations": {
          "description": "Optional. A list of `FunctionDeclarations` available to the model that can be used for function calling. The model or system does not execute the function. Instead the defined function may be returned as a FunctionCall with arguments to the client side for execution. The model may decide to call a subset of these functions by populating FunctionCall in the response. The next conversation turn may contain a FunctionResponse with the Content.role \"function\" generation context for the next model turn.",
          "items": {
            "$ref": "FunctionDeclaration"
          },
          "type": "array"
        },
        "googleSearchRetrieval": {
          "description": "Optional. Retrieval tool that is powered by Google search.",
          "$ref": "GoogleSearchRetrieval"
        },
        "googleSearch": {
          "description": "Optional. GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
          "$ref": "GoogleSearch"
        },
        "codeExecution": {
          "$ref": "CodeExecution",
          "description": "Optional. Enables the model to execute code as part of generation."
        },
        "fileSearch": {
          "$ref": "FileSearch",
          "description": "Optional. FileSearch tool type. Tool to retrieve knowledge from Semantic Retrieval corpora."
        },
        "computerUse": {
          "description": "Optional. Tool to support the model interacting directly with the computer. If enabled, it automatically populates computer-use specific Function Declarations.",
          "$ref": "ComputerUse"
        },
        "mcpServers": {
          "description": "Optional. MCP Servers to connect to.",
          "items": {
            "$ref": "McpServer"
          },
          "type": "array"
        },
        "googleMaps": {
          "$ref": "GoogleMaps",
          "description": "Optional. Tool that allows grounding the model's response with geospatial context related to the user's query."
        }
      }
    },
    "GroundingPassage": {
      "type": "object",
      "id": "GroundingPassage",
      "properties": {
        "id": {
          "description": "Identifier for the passage for attributing this passage in grounded answers.",
          "type": "string"
        },
        "content": {
          "description": "Content of the passage.",
          "$ref": "Content"
        }
      },
      "description": "Passage included inline with a grounding configuration."
    },
    "TextResponseFormat": {
      "properties": {
        "schema": {
          "description": "Optional. The JSON schema that the output should conform to. Only applicable when mime_type is APPLICATION_JSON.",
          "type": "any"
        },
        "mimeType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JSON output format.",
            "Plain text output format."
          ],
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "APPLICATION_JSON",
            "TEXT_PLAIN"
          ],
          "description": "Optional. The MIME type of the text output."
        }
      },
      "type": "object",
      "description": "Configuration for text output format.",
      "id": "TextResponseFormat"
    },
    "Content": {
      "id": "Content",
      "properties": {
        "role": {
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset.",
          "type": "string"
        },
        "parts": {
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
          "type": "array",
          "items": {
            "$ref": "Part"
          }
        }
      },
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "type": "object"
    },
    "GroundingChunkStringList": {
      "description": "A list of string values.",
      "id": "GroundingChunkStringList",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The string values of the list.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Hyperparameters": {
      "type": "object",
      "id": "Hyperparameters",
      "properties": {
        "batchSize": {
          "description": "Immutable. The batch size hyperparameter for tuning. If not set, a default of 4 or 16 will be used based on the number of training examples.",
          "format": "int32",
          "type": "integer"
        },
        "learningRateMultiplier": {
          "format": "float",
          "type": "number",
          "description": "Optional. Immutable. The learning rate multiplier is used to calculate a final learning_rate based on the default (recommended) value. Actual learning rate := learning_rate_multiplier * default learning rate Default learning rate is dependent on base model and dataset size. If not set, a default of 1.0 will be used."
        },
        "epochCount": {
          "format": "int32",
          "description": "Immutable. The number of training epochs. An epoch is one pass through the training data. If not set, a default of 5 will be used.",
          "type": "integer"
        },
        "learningRate": {
          "description": "Optional. Immutable. The learning rate hyperparameter for tuning. If not set, a default of 0.001 or 0.0002 will be calculated based on the number of training examples.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Hyperparameters controlling the tuning process. Read more at https://ai.google.dev/docs/model_tuning_guidance"
    },
    "EmbedTextResponse": {
      "id": "EmbedTextResponse",
      "type": "object",
      "description": "The response to a EmbedTextRequest.",
      "properties": {
        "embedding": {
          "$ref": "Embedding",
          "description": "Output only. The embedding generated from the input text.",
          "readOnly": true
        }
      }
    },
    "Schema": {
      "description": "The `Schema` object allows the definition of input and output data types. These types can be objects, but also primitives and arrays. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema).",
      "properties": {
        "maxLength": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Maximum length of the Type.STRING"
        },
        "format": {
          "type": "string",
          "description": "Optional. The format of the data. Any value is allowed, but most do not trigger any special functionality."
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "maxItems": {
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string"
        },
        "type": {
          "description": "Required. Data type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT",
            "NULL"
          ],
          "enumDescriptions": [
            "Not specified, should not be used.",
            "String type.",
            "Number type.",
            "Integer type.",
            "Boolean type.",
            "Array type.",
            "Object type.",
            "Null type."
          ]
        },
        "example": {
          "description": "Optional. Example of the object. Will only populated when the object is the root.",
          "type": "any"
        },
        "description": {
          "description": "Optional. A brief description of the parameter. This could contain examples of use. Parameter description may be formatted as Markdown.",
          "type": "string"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          },
          "type": "array"
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        },
        "minimum": {
          "format": "double",
          "description": "Optional. SCHEMA FIELDS FOR TYPE INTEGER and NUMBER Minimum value of the Type.INTEGER and Type.NUMBER",
          "type": "number"
        },
        "propertyOrdering": {
          "description": "Optional. The order of the properties. Not a standard field in open api spec. Used to determine the order of the properties in the response.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enum": {
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "maxProperties": {
          "description": "Optional. Maximum number of the properties for Type.OBJECT.",
          "format": "int64",
          "type": "string"
        },
        "minLength": {
          "type": "string",
          "description": "Optional. SCHEMA FIELDS FOR TYPE STRING Minimum length of the Type.STRING",
          "format": "int64"
        },
        "pattern": {
          "type": "string",
          "description": "Optional. Pattern of the Type.STRING to restrict a string to a regular expression."
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "minProperties": {
          "description": "Optional. Minimum number of the properties for Type.OBJECT.",
          "type": "string",
          "format": "int64"
        },
        "default": {
          "description": "Optional. Default value of the field. Per JSON Schema, this field is intended for documentation generators and doesn't affect validation. Thus it's included here and ignored so that developers who send schemas with a `default` field don't get unknown-field errors.",
          "type": "any"
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maximum": {
          "format": "double",
          "description": "Optional. Maximum value of the Type.INTEGER and Type.NUMBER",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Schema"
    },
    "SlidingWindow": {
      "description": "The SlidingWindow method operates by discarding content at the beginning of the context window. The resulting context will always begin at the start of a USER role turn. System instructions and any `BidiGenerateContentSetup.prefix_turns` will always remain at the beginning of the result.",
      "properties": {
        "targetTokens": {
          "format": "int64",
          "description": "The target number of tokens to keep. The default value is trigger_tokens/2. Discarding parts of the context window causes a temporary latency increase so this value should be calibrated to avoid frequent compression operations.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SlidingWindow"
    },
    "UploadEnvironmentFileResponse": {
      "description": "Response for `UploadEnvironmentFile`.",
      "type": "object",
      "properties": {
        "files": {
          "items": {
            "$ref": "EnvironmentFile"
          },
          "description": "List of files created or extracted in the environment.",
          "type": "array"
        }
      },
      "id": "UploadEnvironmentFileResponse"
    },
    "RealtimeInputConfig": {
      "type": "object",
      "properties": {
        "turnCoverage": {
          "enumDescriptions": [
            "If unspecified, a default behavior is selected based on the model. E.g., for Gemini 2.5, the default is `TURN_INCLUDES_ONLY_ACTIVITY`, while for Gemini 3.1 and onwards, it's `TURN_INCLUDES_AUDIO_ACTIVITY_AND_ALL_VIDEO`.",
            "Includes activity since the last turn, excluding inactivity (e.g. silence on the audio stream).",
            "Includes all realtime input since the last turn, including inactivity (e.g. silence on the audio stream).",
            "Includes audio activity and all video since the last turn. With automatic activity detection, audio activity means speech and excludes silence."
          ],
          "type": "string",
          "enum": [
            "TURN_COVERAGE_UNSPECIFIED",
            "TURN_INCLUDES_ONLY_ACTIVITY",
            "TURN_INCLUDES_ALL_INPUT",
            "TURN_INCLUDES_AUDIO_ACTIVITY_AND_ALL_VIDEO"
          ],
          "description": "Optional. Defines which input is included in the user's turn."
        },
        "automaticActivityDetection": {
          "description": "Optional. If not set, automatic activity detection is enabled by default. If automatic voice detection is disabled, the client must send activity signals.",
          "$ref": "AutomaticActivityDetection"
        },
        "activityHandling": {
          "enumDescriptions": [
            "If unspecified, the default behavior is `START_OF_ACTIVITY_INTERRUPTS`.",
            "If true, start of activity will interrupt the model's response (also called \"barge in\"). The model's current response will be cut-off in the moment of the interruption. This is the default behavior.",
            "The model's response will not be interrupted."
          ],
          "description": "Optional. Defines what effect activity has.",
          "type": "string",
          "enum": [
            "ACTIVITY_HANDLING_UNSPECIFIED",
            "START_OF_ACTIVITY_INTERRUPTS",
            "NO_INTERRUPTION"
          ]
        }
      },
      "id": "RealtimeInputConfig",
      "description": "Configures the realtime input behavior in `BidiGenerateContent`."
    },
    "File": {
      "properties": {
        "sha256Hash": {
          "format": "byte",
          "readOnly": true,
          "description": "Output only. SHA-256 hash of the uploaded bytes.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of when the `File` was created."
        },
        "uri": {
          "type": "string",
          "description": "Output only. The uri of the `File`.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\""
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. Size of the file in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the `File` was last updated."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Processing state of the File.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "downloadUri": {
          "readOnly": true,
          "description": "Output only. The download uri of the `File`.",
          "type": "string"
        },
        "source": {
          "enumDescriptions": [
            "Used if source is not specified.",
            "Indicates the file is uploaded by the user.",
            "Indicates the file is generated by Google.",
            "Indicates the file is a registered, i.e. a Google Cloud Storage file."
          ],
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "UPLOADED",
            "GENERATED",
            "REGISTERED"
          ],
          "description": "Source of the File."
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
          "type": "string"
        },
        "videoMetadata": {
          "description": "Output only. Metadata for a video.",
          "$ref": "VideoFileMetadata",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error status if File processing failed."
        },
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. MIME type of the file."
        }
      },
      "id": "File",
      "description": "A file uploaded to the API. Next ID: 15",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "VideoFileMetadata": {
      "type": "object",
      "properties": {
        "videoDuration": {
          "description": "Duration of the video.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "VideoFileMetadata",
      "description": "Metadata for a video `File`."
    },
    "ModelStatus": {
      "description": "The status of the underlying model. This is used to indicate the stage of the underlying model and the retirement time if applicable.",
      "id": "ModelStatus",
      "type": "object",
      "properties": {
        "retirementTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the model will be retired."
        },
        "message": {
          "description": "A message explaining the model status.",
          "type": "string"
        },
        "modelStage": {
          "description": "The stage of the underlying model.",
          "type": "string",
          "enum": [
            "MODEL_STAGE_UNSPECIFIED",
            "UNSTABLE_EXPERIMENTAL",
            "EXPERIMENTAL",
            "PREVIEW",
            "STABLE",
            "LEGACY",
            "DEPRECATED",
            "RETIRED"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Unspecified model stage.",
            "The underlying model is subject to lots of tunings.",
            "Models in this stage are for experimental purposes only.",
            "Models in this stage are more mature than experimental models.",
            "Models in this stage are considered stable and ready for production use.",
            "If the model is on this stage, it means that this model is on the path to deprecation in near future. Only existing customers can use this model.",
            "Models in this stage are deprecated. These models cannot be used.",
            "Models in this stage are retired. These models cannot be used."
          ]
        }
      }
    },
    "ContextWindowCompressionConfig": {
      "type": "object",
      "id": "ContextWindowCompressionConfig",
      "properties": {
        "triggerTokens": {
          "format": "int64",
          "type": "string",
          "description": "The number of tokens (before running a turn) required to trigger a context window compression. This can be used to balance quality against latency as shorter context windows may result in faster model responses. However, any compression operation will cause a temporary latency increase, so they should not be triggered frequently. If not set, the default is 80% of the model's context window limit. This leaves 20% for the next user request/model response."
        },
        "slidingWindow": {
          "description": "A sliding-window mechanism.",
          "$ref": "SlidingWindow"
        }
      },
      "description": "Enables context window compression — a mechanism for managing the model's context window so that it does not exceed a given length."
    },
    "PredictLongRunningRequest": {
      "properties": {
        "labels": {
          "description": "Optional. Labels with user-defined metadata for the request. Optional. Labels must follow standard unified Cloud label requirements: - Label keys must start with a letter. - Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. - International characters are allowed. Usage: - Safety identifiers from aggregators: Use the key `safety_identifier` (e.g. `{\"safety_identifier\": \"user_session_123\"}`)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "instances": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Required. The instances that are the input to the prediction call."
        },
        "parameters": {
          "type": "any",
          "description": "Optional. The parameters that govern the prediction call."
        }
      },
      "description": "Request message for [PredictionService.PredictLongRunning].",
      "id": "PredictLongRunningRequest",
      "type": "object"
    },
    "GenerateAnswerResponse": {
      "description": "Response from the model for a grounded answer.",
      "properties": {
        "answer": {
          "description": "Candidate answer from the model. Note: The model *always* attempts to provide a grounded answer, even when the answer is unlikely to be answerable from the given passages. In that case, a low-quality or ungrounded answer may be provided, along with a low `answerable_probability`.",
          "$ref": "Candidate"
        },
        "answerableProbability": {
          "description": "Output only. The model's estimate of the probability that its answer is correct and grounded in the input passages. A low `answerable_probability` indicates that the answer might not be grounded in the sources. When `answerable_probability` is low, you may want to: * Display a message to the effect of \"We couldn’t answer that question\" to the user. * Fall back to a general-purpose LLM that answers the question from world knowledge. The threshold and nature of such fallbacks will depend on individual use cases. `0.5` is a good starting threshold.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "inputFeedback": {
          "$ref": "InputFeedback",
          "readOnly": true,
          "description": "Output only. Feedback related to the input data used to answer the question, as opposed to the model-generated response to the question. The input data can be one or more of the following: - Question specified by the last entry in `GenerateAnswerRequest.content` - Conversation history specified by the other entries in `GenerateAnswerRequest.content` - Grounding sources (`GenerateAnswerRequest.semantic_retriever` or `GenerateAnswerRequest.inline_passages`)"
        }
      },
      "id": "GenerateAnswerResponse",
      "type": "object"
    },
    "TuningExamples": {
      "description": "A set of tuning examples. Can be training or validation data.",
      "properties": {
        "examples": {
          "description": "The examples. Example input can be for text or discuss, but all examples in a set must be of the same type.",
          "items": {
            "$ref": "TuningExample"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TuningExamples"
    },
    "EnvironmentFile": {
      "id": "EnvironmentFile",
      "properties": {
        "modified": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The modification time of the file/directory."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the file or directory (e.g., \"main.py\" or \"src\").",
          "readOnly": true
        },
        "path": {
          "readOnly": true,
          "description": "Output only. The full relative path within the environment (e.g., \"workspace/src/main.py\").",
          "type": "string"
        },
        "created": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation time of the file/directory.",
          "readOnly": true
        },
        "size_bytes": {
          "description": "Output only. The size of the file/directory in bytes. NOLINT",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "mime_type": {
          "description": "Output only. The MIME type of the file (e.g., \"text/python\", \"image/png\"). Empty for directories. NOLINT",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "A regular file.",
            "A directory."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FILE",
            "DIRECTORY"
          ],
          "description": "Output only. The type of the entry."
        }
      },
      "type": "object",
      "description": "Metadata for a file or directory within an environment."
    },
    "CountTextTokensResponse": {
      "id": "CountTextTokensResponse",
      "description": "A response from `CountTextTokens`. It returns the model's `token_count` for the `prompt`.",
      "properties": {
        "tokenCount": {
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ListDocumentsResponse": {
      "id": "ListDocumentsResponse",
      "description": "Response from `ListDocuments` containing a paginated list of `Document`s. The `Document`s are sorted by ascending `document.create_time`.",
      "properties": {
        "documents": {
          "type": "array",
          "description": "The returned `Document`s.",
          "items": {
            "$ref": "Document"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        }
      },
      "type": "object"
    },
    "DownloadMediaResponse": {
      "properties": {
        "blob": {
          "readOnly": true,
          "$ref": "GdataMedia",
          "description": "Output only. The blob data."
        }
      },
      "description": "Response for DownloadMedia.",
      "id": "DownloadMediaResponse",
      "type": "object"
    },
    "GroundingPassages": {
      "description": "A repeated list of passages.",
      "id": "GroundingPassages",
      "type": "object",
      "properties": {
        "passages": {
          "description": "List of passages.",
          "items": {
            "$ref": "GroundingPassage"
          },
          "type": "array"
        }
      }
    },
    "GenerateContentBatch": {
      "type": "object",
      "id": "GenerateContentBatch",
      "properties": {
        "output": {
          "description": "Output only. The output of the batch request.",
          "readOnly": true,
          "$ref": "GenerateContentBatchOutput"
        },
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time at which the batch processing completed.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the batch was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The state of the batch.",
          "type": "string",
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ],
          "readOnly": true
        },
        "inputConfig": {
          "description": "Required. Input configuration of the instances on which batch processing are performed.",
          "$ref": "InputConfig"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
          "type": "string"
        },
        "batchStats": {
          "description": "Output only. Stats about the batch.",
          "$ref": "BatchStats",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the batch was created."
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "format": "int64"
        }
      },
      "description": "A resource representing a batch of `GenerateContent` requests."
    },
    "TuningSnapshot": {
      "id": "TuningSnapshot",
      "description": "Record for a single tuning step.",
      "properties": {
        "epoch": {
          "readOnly": true,
          "description": "Output only. The epoch this step was part of.",
          "format": "int32",
          "type": "integer"
        },
        "computeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this metric was computed.",
          "format": "google-datetime"
        },
        "step": {
          "format": "int32",
          "description": "Output only. The tuning step.",
          "type": "integer",
          "readOnly": true
        },
        "meanLoss": {
          "readOnly": true,
          "description": "Output only. The mean loss of the training examples for this step.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleSearch": {
      "properties": {
        "searchTypes": {
          "$ref": "SearchTypes",
          "description": "Optional. The set of search types to enable. If not set, web search is enabled by default."
        },
        "timeRangeFilter": {
          "description": "Optional. Filter search results to a specific time range. If customers set a start time, they must set an end time (and vice versa).",
          "$ref": "Interval"
        }
      },
      "type": "object",
      "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
      "id": "GoogleSearch"
    },
    "Document": {
      "id": "Document",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Output only. The mime type of the Document.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `Document`. The display name must be no more than 512 characters in length, including spaces. Example: \"Semantic Retriever Documentation\"",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING",
            "STATE_ACTIVE",
            "STATE_FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Some `Chunks` of the `Document` are being processed (embedding and vector storage).",
            "All `Chunks` of the `Document` is processed and available for querying.",
            "Some `Chunks` of the `Document` failed processing."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the `Document`."
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The size of raw bytes ingested into the Document.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"fileSearchStores/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/{file_search_store_id}/documents/my-awesome-doc-123a456b789c`"
        },
        "customMetadata": {
          "description": "Optional. User provided custom metadata stored as key-value pairs used for querying. A `Document` can have a maximum of 20 `CustomMetadata`.",
          "items": {
            "$ref": "CustomMetadata"
          },
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The Timestamp of when the `Document` was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Timestamp of when the `Document` was created.",
          "format": "google-datetime"
        }
      },
      "description": "A `Document` is a collection of `Chunk`s."
    },
    "RetrievalMetadata": {
      "description": "Metadata related to retrieval in the grounding flow.",
      "type": "object",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "format": "float",
          "description": "Optional. Score indicating how likely information from google search could help answer the prompt. The score is in the range [0, 1], where 0 is the least likely and 1 is the most likely. This score is only populated when google search grounding and dynamic retrieval is enabled. It will be compared to the threshold to determine whether to trigger google search.",
          "type": "number"
        }
      },
      "id": "RetrievalMetadata"
    },
    "ComputerUse": {
      "id": "ComputerUse",
      "description": "Computer Use tool type.",
      "properties": {
        "enablePromptInjectionDetection": {
          "description": "Optional. Whether enable the prompt injection detection check on computer-use request.",
          "type": "boolean"
        },
        "environment": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_BROWSER",
            "ENVIRONMENT_MOBILE",
            "ENVIRONMENT_DESKTOP"
          ],
          "enumDescriptions": [
            "Defaults to browser.",
            "Operates in a web browser.",
            "Operates in a mobile environment.",
            "Operates in a desktop environment."
          ],
          "description": "Required. The environment being operated."
        },
        "excludedPredefinedFunctions": {
          "type": "array",
          "description": "Optional. By default, predefined functions are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions.",
          "items": {
            "type": "string"
          }
        },
        "disabledSafetyPolicies": {
          "description": "Optional. Disabled safety policies for computer use.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified safety policy.",
              "Safety policy for financial transactions.",
              "Safety policy for sensitive data modification.",
              "Safety policy for communication tools (e.g. Gmail, Chat, Meet).",
              "Safety policy for account creation.",
              "Safety policy for data modification.",
              "Safety policy for user consent management.",
              "Safety policy for legal terms and agreements."
            ],
            "type": "string",
            "enum": [
              "SAFETY_POLICY_UNSPECIFIED",
              "FINANCIAL_TRANSACTIONS",
              "SENSITIVE_DATA_MODIFICATION",
              "COMMUNICATION_TOOL",
              "ACCOUNT_CREATION",
              "DATA_MODIFICATION",
              "USER_CONSENT_MANAGEMENT",
              "LEGAL_TERMS_AND_AGREEMENTS"
            ]
          }
        }
      },
      "type": "object"
    },
    "PromptFeedback": {
      "type": "object",
      "id": "PromptFeedback",
      "properties": {
        "safetyRatings": {
          "type": "array",
          "description": "Ratings for safety of the prompt. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          }
        },
        "blockReason": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons.",
            "Prompt was blocked due to the terms which are included from the terminology blocklist.",
            "Prompt was blocked due to prohibited content.",
            "Candidates blocked due to unsafe image generation content."
          ],
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase the prompt.",
          "type": "string",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "IMAGE_SAFETY"
          ]
        }
      },
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`."
    },
    "TuningExample": {
      "type": "object",
      "id": "TuningExample",
      "description": "A single example for tuning.",
      "properties": {
        "textInput": {
          "description": "Optional. Text model input.",
          "type": "string"
        },
        "output": {
          "type": "string",
          "description": "Required. The expected model output."
        }
      }
    },
    "PlaceAnswerSources": {
      "properties": {
        "reviewSnippets": {
          "description": "Snippets of reviews that are used to generate answers about the features of a given place in Google Maps.",
          "items": {
            "$ref": "ReviewSnippet"
          },
          "type": "array"
        }
      },
      "id": "PlaceAnswerSources",
      "description": "Collection of sources that provide answers about the features of a given place in Google Maps. Each PlaceAnswerSources message corresponds to a specific place in Google Maps. The Google Maps tool used these sources in order to answer questions about features of the place (e.g: \"does Bar Foo have Wifi\" or \"is Foo Bar wheelchair accessible?\"). Currently we only support review snippets as sources.",
      "type": "object"
    },
    "MetadataFilter": {
      "id": "MetadataFilter",
      "description": "User provided filter to limit retrieval based on `Chunk` or `Document` level metadata values. Example (genre = drama OR genre = action): key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of the metadata to filter on."
        },
        "conditions": {
          "description": "Required. The `Condition`s for the given key that will trigger this filter. Multiple `Condition`s are joined by logical ORs.",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CachedContent": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. When the cache entry was last updated in UTC time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "usageMetadata": {
          "readOnly": true,
          "$ref": "CachedContentUsageMetadata",
          "description": "Output only. Metadata on the usage of the cached content."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
          "readOnly": true
        },
        "systemInstruction": {
          "description": "Optional. Input only. Immutable. Developer set system instruction. Currently text only.",
          "$ref": "Content"
        },
        "toolConfig": {
          "description": "Optional. Input only. Immutable. Tool config. This config is shared for all tools.",
          "$ref": "ToolConfig"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp in UTC of when this resource is considered expired. This is *always* provided on output, regardless of what was sent on input."
        },
        "contents": {
          "items": {
            "$ref": "Content"
          },
          "type": "array",
          "description": "Optional. Input only. Immutable. The content to cache."
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "Optional. Input only. Immutable. A list of `Tools` the model may use to generate the next response"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Immutable. The user-generated meaningful display name of the cached content. Maximum 128 Unicode characters."
        },
        "ttl": {
          "type": "string",
          "description": "Input only. New TTL for this resource, input only.",
          "format": "google-duration"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation time of the cache entry.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Required. Immutable. The name of the `Model` to use for cached content Format: `models/{model}`"
        }
      },
      "id": "CachedContent",
      "description": "Content that has been preprocessed and can be used in subsequent request to GenerativeService. Cached content can be only used with model it was created for."
    },
    "CitationMetadata": {
      "type": "object",
      "id": "CitationMetadata",
      "properties": {
        "citationSources": {
          "items": {
            "$ref": "CitationSource"
          },
          "description": "Citations to sources for a specific response.",
          "type": "array"
        }
      },
      "description": "A collection of source attributions for a piece of content."
    },
    "GenerateTextRequest": {
      "id": "GenerateTextRequest",
      "description": "Request to generate a text completion response from the model.",
      "properties": {
        "maxOutputTokens": {
          "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
          "type": "integer",
          "format": "int32"
        },
        "stopSequences": {
          "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "prompt": {
          "description": "Required. The free-form input text given to the model as a prompt. Given a prompt, the model will generate a TextCompletion response it predicts as the completion of the input text.",
          "$ref": "TextPrompt"
        },
        "temperature": {
          "format": "float",
          "type": "number",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model."
        },
        "topP": {
          "format": "float",
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
          "type": "number"
        },
        "safetySettings": {
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. that will be enforced on the `GenerateTextRequest.prompt` and `GenerateTextResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any prompts and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_DEROGATORY, HARM_CATEGORY_TOXICITY, HARM_CATEGORY_VIOLENCE, HARM_CATEGORY_SEXUAL, HARM_CATEGORY_MEDICAL, HARM_CATEGORY_DANGEROUS are supported in text service.",
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          }
        },
        "topK": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function."
        },
        "candidateCount": {
          "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "BatchStats": {
      "type": "object",
      "description": "Stats about the batch.",
      "id": "BatchStats",
      "properties": {
        "pendingRequestCount": {
          "description": "Output only. The number of requests that are still pending processing.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "failedRequestCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of requests that failed to be processed.",
          "format": "int64"
        },
        "successfulRequestCount": {
          "description": "Output only. The number of requests that were successfully processed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "requestCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of requests in the batch.",
          "readOnly": true
        }
      }
    },
    "ImageSearch": {
      "description": "Image search for grounding and related configurations.",
      "properties": {},
      "type": "object",
      "id": "ImageSearch"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContentTypeInfo": {
      "description": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty.",
      "id": "ContentTypeInfo",
      "type": "object",
      "properties": {
        "fromFusionId": {
          "description": "The content type of the file detected by Fusion ID. go/fusionid",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file."
        },
        "fusionIdDetectionMetadata": {
          "type": "string",
          "description": "Metadata information from Fusion ID detection. Serialized FusionIdDetectionMetadata proto. Only set if from_fusion_id is set.",
          "format": "byte"
        },
        "fromFileName": {
          "description": "The content type of the file derived from the file extension of the original file name used by the client.",
          "type": "string"
        },
        "fromUrlPath": {
          "description": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API).",
          "type": "string"
        },
        "bestGuess": {
          "description": "Scotty's best guess of what the content type of the file is.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request.",
          "type": "string"
        }
      }
    },
    "RegisterFilesResponse": {
      "properties": {
        "files": {
          "description": "The registered files to be used when calling GenerateContent.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      },
      "description": "Response for `RegisterFiles`.",
      "id": "RegisterFilesResponse",
      "type": "object"
    },
    "V1mainMediaResolution": {
      "description": "Media resolution for tokenization.",
      "type": "object",
      "properties": {
        "level": {
          "type": "string",
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH",
            "MEDIA_RESOLUTION_ULTRA_HIGH"
          ],
          "description": "The tokenization quality used for given media. for Gemini API support .",
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low.",
            "Media resolution set to medium.",
            "Media resolution set to high.",
            "Media resolution set to ultra high."
          ]
        }
      },
      "id": "V1mainMediaResolution"
    },
    "GenerateContentRequest": {
      "properties": {
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          },
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY, HARM_CATEGORY_JAILBREAK are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications."
        },
        "store": {
          "type": "boolean",
          "description": "Optional. Configures the logging behavior for a given request. If set, it takes precedence over the project-level logging config."
        },
        "contents": {
          "type": "array",
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries like [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat), this is a repeated field that contains the conversation history and the latest request.",
          "items": {
            "$ref": "Content"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels with user-defined metadata for the request. Optional. Labels must follow standard unified Cloud label requirements: - Label keys must start with a letter. - Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. - International characters are allowed. Usage: - Safety identifiers from aggregators: Use the key `safety_identifier` (e.g. `{\"safety_identifier\": \"user_session_123\"}`)"
        },
        "cachedContent": {
          "description": "Optional. The name of the content [cached](https://ai.google.dev/gemini-api/docs/caching) to use as context to serve the prediction. Format: `cachedContents/{cachedContent}`",
          "type": "string"
        },
        "toolConfig": {
          "$ref": "ToolConfig",
          "description": "Optional. Tool configuration for any `Tool` specified in the request. Refer to the [Function calling guide](https://ai.google.dev/gemini-api/docs/function-calling#function_calling_mode) for a usage example."
        },
        "serviceTier": {
          "description": "Optional. The service tier of the request.",
          "type": "string",
          "enum": [
            "unspecified",
            "standard",
            "flex",
            "priority"
          ],
          "enumDescriptions": [
            "Default service tier, which is standard.",
            "Standard service tier.",
            "Flex service tier.",
            "Priority service tier."
          ]
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GenerationConfig"
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "Optional. A list of `Tools` the `Model` may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the `Model`. Supported `Tool`s are `Function` and `code_execution`. Refer to the [Function calling](https://ai.google.dev/gemini-api/docs/function-calling) and the [Code execution](https://ai.google.dev/gemini-api/docs/code-execution) guides to learn more."
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "systemInstruction": {
          "description": "Optional. Developer set [system instruction(s)](https://ai.google.dev/gemini-api/docs/system-instructions). Currently, text only.",
          "$ref": "Content"
        }
      },
      "id": "GenerateContentRequest",
      "description": "Request to generate a completion from the model.",
      "type": "object"
    },
    "CountTextTokensRequest": {
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The free-form input text given to the model as a prompt.",
          "$ref": "TextPrompt"
        }
      },
      "id": "CountTextTokensRequest"
    },
    "GroundingChunkCustomMetadata": {
      "id": "GroundingChunkCustomMetadata",
      "type": "object",
      "description": "User provided metadata about the GroundingFact.",
      "properties": {
        "numericValue": {
          "description": "Optional. The numeric value of the metadata. The expected range for this value depends on the specific `key` used.",
          "format": "float",
          "type": "number"
        },
        "stringListValue": {
          "description": "Optional. A list of string values for the metadata.",
          "$ref": "GroundingChunkStringList"
        },
        "key": {
          "type": "string",
          "description": "The key of the metadata."
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. The string value of the metadata."
        }
      }
    },
    "UsageMetadata": {
      "properties": {
        "cacheTokensDetails": {
          "description": "Output only. List of modalities of the cached content in the request input.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ModalityTokenCount"
          }
        },
        "promptTokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of tokens in the prompt. When `cached_content` is set, this is still the total effective prompt size meaning this includes the number of tokens in the cached content."
        },
        "toolUsePromptTokensDetails": {
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "description": "Output only. List of modalities that were processed for tool-use request inputs.",
          "type": "array",
          "readOnly": true
        },
        "totalTokenCount": {
          "description": "Total token count for the generation request (prompt + thoughts + response candidates).",
          "format": "int32",
          "type": "integer"
        },
        "candidatesTokenCount": {
          "description": "Total number of tokens across all the generated response candidates.",
          "type": "integer",
          "format": "int32"
        },
        "cachedContentTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of tokens in the cached part of the prompt (the cached content)"
        },
        "toolUsePromptTokenCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of tokens present in tool-use prompt(s)."
        },
        "promptTokensDetails": {
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of modalities that were processed in the request input."
        },
        "thoughtsTokenCount": {
          "description": "Output only. Number of tokens of thoughts for thinking models.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "candidatesTokensDetails": {
          "readOnly": true,
          "description": "Output only. List of modalities that were returned in the response.",
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "type": "array"
        },
        "serviceTier": {
          "type": "string",
          "enum": [
            "unspecified",
            "standard",
            "flex",
            "priority"
          ],
          "readOnly": true,
          "description": "Output only. Service tier of the request.",
          "enumDescriptions": [
            "Default service tier, which is standard.",
            "Standard service tier.",
            "Flex service tier.",
            "Priority service tier."
          ]
        }
      },
      "type": "object",
      "id": "UsageMetadata",
      "description": "Metadata on the generation request's token usage."
    },
    "ContentFilter": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A string that describes the filtering behavior in more detail."
        },
        "reason": {
          "enumDescriptions": [
            "A blocked reason was not specified.",
            "Content was blocked by safety settings.",
            "Content was blocked, but the reason is uncategorized."
          ],
          "type": "string",
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "description": "The reason content was blocked during request processing."
        }
      },
      "description": "Content filtering metadata associated with processing a single request. ContentFilter contains a reason and an optional supporting string. The reason may be unspecified.",
      "id": "ContentFilter",
[...]
